<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modifier la liste de courses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input [(ngModel)]="shoppingList.name" placeholder="Titre de la liste"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-button (click)="modifyShoppingList()" color="success">
    Modifier
  </ion-button>
</ion-fab>
