<ion-header [translucent]="true">
  <ion-toolbar class="topToolBar">

    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title slot="start">{{(list$ | async)?.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group>
      <ng-container *ngIf="list$ | async as list">

        <ion-accordion *ngFor="let todo of list.todos">
          <ion-item slot="header">
            <label>{{todo.name}}</label>
            <ion-checkbox color="primary" [(ngModel)]="todo.isDone" (click)="onEvent($event)" slot="end"
              class="todoCheckbox"></ion-checkbox>
          </ion-item>

          <div class="cardContent" slot="content">
            <p class="cardText">{{todo.description}}</p>
            <ion-img class="cardImage" src="assets/photo-placeholder/lait_photo.png"></ion-img>
          </div>

        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNewTodo()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
