<ion-header [translucent]="true">
  <ion-toolbar class="topToolBar">
  
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title slot="start">{{currentList.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group>
    
    <ion-accordion *ngFor="let todo of currentList.todos; index as position">
      <ion-item slot="header">
        <label>{{todo.name}}</label>
        <ion-checkbox color="primary" [(ngModel)]="todo.isDone" (click)="onEvent($event)" slot="end" class="todoCheckbox"></ion-checkbox>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>{{todo.description}}</ion-label>
        </ion-item>
      </ion-list>


    </ion-accordion>
  </ion-accordion-group>  
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click) = "addNewTodo()" >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
