.homeToolBar {
  text-align: center;
}

.cardContent {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "description photo"
    "boutonGauche boutonDroit";

  max-height: 30vh;

  .description {
    margin-left: 15px;
    margin-top: 10px;
  }

  .cardImage {
    padding: 5% 5% 5% 5%;
    border: 10px;
    max-height: 24vh;
    height: 90%;
    text-align: center;
    grid-area: photo;
  }

  .buttonContainer {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .boutonGauche {
    grid-area: boutonGauche;
    width: 80%;
  }

  .boutonDroit {
    grid-area: boutonDroit;
    width: 80%;
    text-align: center;
  }

  .leftBtn {
    margin-left: 20px;
  }

}
