<ion-header>
  <ion-toolbar>
    <ion-title> {{currentList.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of currentList.todos; index as position">
     
      <ion-item-options side="start">
        <ion-item-option (click)="modifyTodo(position)">Modify</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{todo.name}}</ion-label>
        <ion-icon icon="square-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click) = "addNewTodo()" >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
