<ion-header>
  <ion-toolbar>
    <ion-title>Paramètres</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="votreCompte">
    <ion-text class="compteText">
      Votre compte
    </ion-text>
  </div>

  <div class="kimiNoNaWa">
    <ion-text class="namaeText">
      {{user}}
    </ion-text>
  </div>

  <div class="signInSlice">
    <ion-button class="signInButton" style="--background:#844652" (click)="logout()">
      Deconnexion
    </ion-button>
  </div>
</ion-content>
