<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-text font>
    <h1>👨</h1>
  </ion-text>

  <ion-input value="Nom et prenom">
  </ion-input>

  <ion-text>
    adresse@email.com
  </ion-text>

  <ion-item button fill="block" (click)="logout()">
    <ion-label>
      Deconnection
    </ion-label>
  </ion-item>

</ion-content>
