<ion-header translucent>
  <ion-toolbar>
    <ion-title>Creer une todoList</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">name</ion-label>
      <ion-input [(ngModel)]="newTodoListName" placeholder="titre de la todo-list"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="modalValidateToolBar">
    <ion-button class="addButton" (click) = "addTodoList()" color="success">
      Valider
      <!--<ion-icon name="add-circle-outline"></ion-icon> peut etre avec un tick-->
    </ion-button>
  </ion-toolbar>
</ion-footer>