<ion-header translucent>
  <ion-toolbar>
    <ion-title>Créer une todoList</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Titre de la liste</ion-label>
      <ion-input [(ngModel)]="shoppingList.name" placeholder="titre de la liste de course"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="modalValidateToolBar">
    <ion-button (click)="createShoppingList()" color="success">
      Créer la liste
    </ion-button>
  </ion-toolbar>
</ion-footer>
