<ion-header translucent>
  <ion-toolbar>
    <ion-title>Creer une liste de courses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label slot="start">Nom</ion-label>
      <ion-input slot="start" [(ngModel)]="shoppingList.name" placeholder="Nom de la liste de course"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="modalValidateToolBar">
    <ion-button (click)="createShoppingList()" color="success">
      Créer la liste
    </ion-button>
  </ion-toolbar>
</ion-footer>
