<ion-header>
  <ion-toolbar>
    <ion-title>IMAGasine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon name="cart-outline"></ion-icon>

  <br />
  <ion-text>
    Sign in
  </ion-text>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input placeholder="name@example.com" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item button fill="block" class="validate-button" (click)="login()">
    <ion-label>
      OK
    </ion-label>
  </ion-item>

  <ion-text *ngIf="message">{{message}}</ion-text>

  <ion-button [routerLink]="['/register']">
    Sign up
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="lostPassword()">
      Lost password
    </ion-button>
  </ion-toolbar>
</ion-footer>
