<ion-header translucent>
  <ion-toolbar>
    <ion-title>Partager une liste de courses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="destinataireTitle">
    <ion-text class="titleText" slot="start">Destinataire</ion-text>
  </div>

  <div class="destinataireInput">
    <ion-input type="text" [(ngModel)]="recipient" placeholder="adresse email">
    </ion-input>
  </div>

  <ion-item lines="none">
    <ion-checkbox slot="start" [(ngModel)]="readOnly" (click)="switchToReadOnly()">
    </ion-checkbox>
    <ion-label slot="start">Lecture seule</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-checkbox slot="start" [(ngModel)]="recipientCanWrite" (click)="switchToWrite()">
    </ion-checkbox>
    <ion-label slot="start">Modification</ion-label>
  </ion-item>

  <div class="submitDiv">
    <ion-button class="submitButton" style="--background:#D48B3F" type="submit" (click)="shareShoppingList()">
      Partager
    </ion-button>
  </div>
</ion-content>
