.destinataireTitle {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 15px;

  .titleText {
    font-family: 'Gill Sans';
    font-size: x-large;
  }
}

.destinataireInput {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.submitDiv {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

  .submitButton {
    width: 70%;
  }
}
