<ion-header translucent>
  <ion-toolbar>
    <ion-title>Créer un item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input [(ngModel)]="itemToShop.name" placeholder="titre du l'item"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input [(ngModel)]="itemToShop.description" placeholder="description de l'item"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantité</ion-label>
      <ion-input [(ngModel)]="itemToShop.quantity" placeholder="0"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-button (click)="createItemToShop()" color="success">
    Créer
  </ion-button>
</ion-fab>
