<ion-header [translucent]="true">
  <ion-toolbar class="topToolBar">
    <ion-title slot="start">IMAGasine</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="focus" [formControl]="searchField" (ionChange)="updateSearchField()" debounce="100">
  </ion-searchbar>
  <ion-list class="actualBigList">
    <ng-container *ngIf="shoppingLists$ | async as shoppingLists">
      <ion-item-sliding *ngFor="let shoppingList of filteredList$ | async" class="myItem">

        <ion-item-options *ngIf="userCanWrite(shoppingList)" side="start">
          <ion-item-option (click)="modifyShoppingList(shoppingList)" expandable>
            Modifier
          </ion-item-option>
        </ion-item-options>

        <ion-item-options *ngIf="userCanDelete(shoppingList)" side="end">
          <ion-item-option (click)="removeShoppingList(shoppingList)" color="danger" expandable>
            Supprimer
          </ion-item-option>
        </ion-item-options>

        <ng-container *ngIf="shoppingList.itemsToShop$ | async as itemsToShop">
          <ion-item [routerLink]="['/list-details/'+shoppingList.id]" [color]="totalItemToShop(itemsToShop) > 0
              ? isCompleted(itemsToShop) ? 'primary' : 'secondary'
              : 'tertiary'">
            <ion-label item-left>{{shoppingList.name}}</ion-label>

            <ion-label class="counter" item-right>
              {{completedItemToShop(itemsToShop)}}/{{totalItemToShop(itemsToShop)}}
            </ion-label>
          </ion-item>
        </ng-container>

      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class=homeToolBar>
    <ion-button class="addButton" (click)="createShoppingList()">
      Créer une liste de courses
    </ion-button>
  </ion-toolbar>
</ion-footer>
