<ion-header>
  <ion-toolbar>
    <ion-title> Créer un compte </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">

  <div class="title">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-text class="titleText">IMAGasine</ion-text>
  </div>

  <ion-item lines="none">
    <ion-label position="stacked">Votre email</ion-label>
    <ion-input placeholder="name@example.com" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Créer un mot de passe</ion-label>
    <ion-input type="password" placeholder="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div class="signUp">
    <ion-button class="signUpButton" (click)="register()">
      Valider
    </ion-button>
  </div>

  <ion-text *ngIf="hasError">{{errorMessage}}</ion-text>

</ion-content>
