ion-icon {
  font-size: 128px;
}

.title {
  padding-top: 20px;
  display: grid;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;

  .titleText {
    font-family: 'Gill Sans';
    font-size: xx-large;
  }
}

.signUpButton {
  min-width: 70%;
}

.signUp {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
